login: &login
  adapter: mysql
  host: localhost
  username: carlbtan_carlb
  password: 123456

development:
  database: connect_development
  <<: *login

test:
  database: connect_test
  <<: *login

production:
  database: connect_production
  <<: *login

